.banner {
  position: relative;
  //background: url("../Assets/Banner.jpg");
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.banner-content {
  font-family: "Montserrat";
  /* font-size: 22px; */
}
.banner-heading {
  font-size: 45px;
}
.article {
  margin-top: 25px;
  margin-bottom: 25px;
}
.opp-meeting {
  margin-top: 30px;
}
.opp-container {
  width: 250px;
  height: 250px;
}
.opp-heading {
  font-family: "Montserrat";
  color: #026fc2;
  text-transform: uppercase;
  text-align: center;
  /* margin-bottom: 50px; */
  font-size: 22px;
}

.opp-image {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  /* background-position: center; */
}
.opp-content {
  font-family: "Montserrat";
  color: #8f8686;
  line-height: 30px;
  font-weight: normal;
}
.opp-row {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .opp-container {
    width: 100%;
    margin: 0 82px;
  }
  .opp-image {
    width: 150px;
    margin: auto;
  }
}

.blog-banner {
  position: relative;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.blog-banner-content {
  font-family: "Montserrat";
  /* font-size: 22px; */
}
.blog-banner-heading {
  font-size: 45px;
}
