.footer {
  background-color: black;
  position: relative;
  min-height: 60vh;
  margin-top: 80px;
}
.footer-content {
  margin-top: 40px;
}
.footer-heading {
  margin-top: 20px;
  color: white;
  font-family: "Montserrat";
}
.footer-list {
  color: white;
  padding: 0;
  font-family: "Montserrat";
  list-style-type: none;
}
