// // @media (max-width: 767px) {
// //   .navbar-collapse {
// //     background-color: #000;
// //     opacity: 0.5;
// //   }
// }

.bg-light {
  background-color: transparent !important;
  transition: 0.75s ease;
}

.bg-light.scrolled {
  background-color: #fff !important;
}

// #navbarSupportedContent {
//   background: #000;
//   opacity: 0.5;
// }

.nav-item {
  color: #000;
}
