.scheduler-card {
  width: 200px;
  border-radius: 20px;
  background: #f1f1f1;
  padding: 15px;
  font-family: "Montserrat";
  margin: auto;
  margin-top: 20px;

  .time {
    color: rgb(105, 105, 105) !important;
  }
}
.scheduler-card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.scheduler-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 0 0 26%;
}
.scheduler-img img {
  padding-bottom: 5px;
}
