.sidebar {
  height: 100vh;
  padding-left: 20px;
  background-color: #ebebeb;
  color: white;
  width: 400px;
  position: fixed;
  z-index: 1500;
  margin-left: 70vw;
  right: -100%;
  animation: slide-open 1s forwards;
}

.sidebar.close {
  right: 0;
  animation: slide-close 1s forwards;
}

@keyframes slide-open {
  100% {
    right: 0;
  }
}
@keyframes slide-close {
  100% {
    right: -100%;
  }
}
