.sidebar {
  height: 100vh;
  padding-left: 20px;
  background-color: #f3f0ef;
  color: white;
  width: 420px;
  position: fixed;
  z-index: 1500;
  margin-left: 70vw;
  right: -100%;
  animation: slide-open 1s forwards;
  overflow-y: auto;
}

.sidebar.close {
  right: 0;
  animation: slide-close 1s forwards;
}

@keyframes slide-open {
  100% {
    right: 0;
  }
}
@keyframes slide-close {
  100% {
    right: -100%;
  }
}
.fa-times {
  font-size: 1.5rem;
  padding-top: 10px;
  color: #63686b;
}
