.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.signup {
  height: 100vh;

  .signup-heading h1 {
    color: #3288bf;
    position: relative;
    bottom: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .deco-line {
    position: relative;
    bottom: 30px;
    width: 40px;
    border-top: 3px solid #3288bf;
  }
}
.form-box {
  padding: 30px;
  width: 70%;
  margin: auto;
}

.poster {
  height: 110vh;
  background-color: #3288bf;

  .text {
    color: #fff;
    padding-top: 40vh;
    text-align: center;
  }
  .login-button {
    margin-top: 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 20px;
  }

  .login-button:hover {
    color: #3288bf;
    background-color: #fff;
    transition: 0.5s ease;
  }
}

@media (max-width: 450px) {
  .poster {
    display: none;
  }
}
