.carousel {
  position: relative;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.test-name {
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
}

.test-review {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  padding-left: 50px;
  padding-right: 50px;
}
.test-occupation {
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  font-size: 1rem;
}
