@import "./Navbar";

@import "./Banner";

@import "./Footer";

@import "./Testimonial";

@import "./Blog";

@import "./Signup";

body {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Assets/beach.jpg");
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.fa-language {
  padding-top: 40px;
  margin-right: 10px;
}

.category-nav {
  padding-top: 40px;
}

.language-section {
  float: right;
  padding-top: 20px !important ;
}

.freq-image {
  padding-top: 30px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.freq-content {
  padding-top: 30px;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .freq-image {
    width: 100%;
    margin: auto;
  }
}
