@import "./Navbar";

@import "./Banner";

@import "./Footer";

@import "./Testimonial";

@import "./Blog";

@import "./Signup";

@import "./Sidebar";

@import "./JournalSidebar";

@import "./SchedulerCard";

body {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Assets/beach.jpg");
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.fa-language {
  padding-top: 40px;
  margin-right: 10px;
}

.category-nav {
  padding-top: 40px;
}

.language-section {
  float: right;
  padding-top: 20px !important ;
}

.freq-image {
  padding-top: 30px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.freq-content {
  padding-top: 30px;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .freq-image {
    width: 100%;
    margin: auto;
  }
}
.scrolling-wrapper {
  overflow-x: auto;
}

@media (max-width: 450px) {
  .sidebar {
    width: 103vw;
  }
}
.add-button {
  margin-left: 50px;
}

#close {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.options {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.videos-container {
  display: grid;
  column-gap: 3px;
  grid-template-columns: auto auto;
  padding-top: 20px;
  padding-right: 20px;

  .video-card {
    padding-top: 17px;
    transition: border 2s;
    cursor: pointer;
    .thumbnail {
      margin-top: 8px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

@keyframes borderChange {
  from {
    border: 2px solid #b5b5bb;
  }
  to {
    border: 4px solid #09e823;
  }
}

input[type="checkbox"] {
  position: relative;
  top: 2.3em;
  left: 2.3em;
}
.front {
  img {
    margin-left: 30px;
  }
}
.back {
  width: 180px;
  height: 114px;
  background-color: #2ecc71;
  img {
    width: 100px;
    height: 100px;
    margin-left: 40px;
  }
}
.save-button {
  position: absolute;
  right: 5px;
}
.plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}
.modal-body {
  height: 200px;
}
.modal-video-card {
  position: relative;
  top: 25px;
  p {
    padding-left: 30px;
    padding-top: 10px;
    font-family: "Montserrat";
  }
}
.modal-counter {
  position: relative;
  bottom: 80px;
  float: right;
  text-align: center;
}
.minus:hover {
  background-color: #717fe0 !important;
}
.plus:hover {
  background-color: #717fe0 !important;
}

.count {
  border-radius: 10px;
  width: 20%;
}
