nav {
  position: absolute;
  z-index: 10;
}
.bg-dark {
  background-color: transparent !important;
}

.banner {
  position: relative;
  background: url("../Assets/Banner.jpg");
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.banner-content {
  font-family: "Montserrat";
  /* font-size: 22px; */
}
.banner-heading {
  font-size: 45px;
}
