/* header {
  position: absolute;
  z-index: 10;
}
*/

.bg-light {
  background-color: transparent !important;
  transition: 0.75s ease;
}

.bg-light.scrolled {
  background-color: #fff !important;
}

.banner {
  position: relative;
  background: url("../Assets/Banner.jpg");
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.banner-content {
  font-family: "Montserrat";
  /* font-size: 22px; */
}
.banner-heading {
  font-size: 45px;
}
.opp-meeting {
  margin-top: 30px;
}
.opp-container {
  width: 250px;
  height: 250px;
}
.opp-heading {
  font-family: "Montserrat";
  color: #026fc2;
  text-transform: uppercase;
  text-align: center;
  /* margin-bottom: 50px; */
  font-size: 22px;
}

.opp-image {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  /* background-position: center; */
}
.opp-content {
  font-family: "Montserrat";
  color: #8f8686;
  line-height: 30px;
  font-weight: normal;
}
.opp-row {
  margin-top: 50px;
}
.qoute-container {
  position: relative;
  background: url("../Assets/beach.jpg");
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}
.footer {
  background-color: black;
  position: relative;
  min-height: 60vh;
}
.footer-content {
  margin-top: 40px;
}
.footer-heading {
  color: white;
  font-family: "Montserrat";
}
.footer-list {
  color: white;
  font-family: "Montserrat";
  list-style-type: none;
}
