.bg-light {
  background-color: transparent !important;
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
}

.bg-light.scrolled {
  background-color: #fff !important;
}

.nav-item {
  color: #000;
}

.banner {
  position: relative;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.banner-content {
  font-family: "Montserrat";
  /* font-size: 22px; */
}

.banner-heading {
  font-size: 45px;
}

.article {
  margin-top: 25px;
  margin-bottom: 25px;
}

.opp-meeting {
  margin-top: 30px;
}

.opp-container {
  width: 250px;
  height: 250px;
}

.opp-heading {
  font-family: "Montserrat";
  color: #026fc2;
  text-transform: uppercase;
  text-align: center;
  /* margin-bottom: 50px; */
  font-size: 22px;
}

.opp-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* remove extra space below image */
  /* background-position: center; */
}

.opp-content {
  font-family: "Montserrat";
  color: #8f8686;
  line-height: 30px;
  font-weight: normal;
}

.opp-row {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .opp-container {
    width: 100%;
    margin: 0 82px;
  }
  .opp-image {
    width: 150px;
    margin: auto;
  }
}

.blog-banner {
  position: relative;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.blog-banner-content {
  font-family: "Montserrat";
  /* font-size: 22px; */
}

.blog-banner-heading {
  font-size: 45px;
}

.footer {
  background-color: black;
  position: relative;
  min-height: 60vh;
  margin-top: 80px;
}

.footer-content {
  margin-top: 40px;
}

.footer-heading {
  color: white;
  font-family: "Montserrat";
}

.footer-list {
  color: white;
  padding: 0;
  font-family: "Montserrat";
  list-style-type: none;
}

.carousel {
  position: relative;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.test-name {
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
}

.test-review {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  padding-left: 50px;
  padding-right: 50px;
}

.test-occupation {
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  font-size: 1rem;
}

.blog-title {
  font-family: "Montserrat";
  text-align: center;
  padding-top: 40px;
}

.blog-content {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.signup {
  height: 100vh;
}

.signup .signup-heading h1 {
  color: #3288bf;
  position: relative;
  bottom: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 20px;
}

.signup .deco-line {
  position: relative;
  bottom: 30px;
  width: 40px;
  border-top: 3px solid #3288bf;
}

.form-box {
  padding: 30px;
  width: 70%;
  margin: auto;
}

.poster {
  height: 110vh;
  background-color: #3288bf;
}

.poster .text {
  color: #fff;
  padding-top: 40vh;
  text-align: center;
}

.poster .login-button {
  margin-top: 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px 20px;
}

.poster .login-button:hover {
  color: #3288bf;
  background-color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 450px) {
  .poster {
    display: none;
  }
}

.sidebar {
  height: 100vh;
  padding-left: 20px;
  background-color: #ebebeb;
  color: white;
  width: 420px;
  position: fixed;
  z-index: 1500;
  margin-left: 70vw;
  right: -100%;
  -webkit-animation: slide-open 1s forwards;
          animation: slide-open 1s forwards;
  overflow-y: auto;
}

.sidebar.close {
  right: 0;
  -webkit-animation: slide-close 1s forwards;
          animation: slide-close 1s forwards;
}

@-webkit-keyframes slide-open {
  100% {
    right: 0;
  }
}

@keyframes slide-open {
  100% {
    right: 0;
  }
}

@-webkit-keyframes slide-close {
  100% {
    right: -100%;
  }
}

@keyframes slide-close {
  100% {
    right: -100%;
  }
}

.sidebar-heading {
  color: white;
}

.list-group a {
  color: white;
}

.list-group a:hover {
  color: white;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  display: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.avatar-circle {
  width: 40px;
  height: 40px;
  background-color: #095d8d;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  text-transform: uppercase;
  margin: auto;
  position: relative;
  font-size: 20px;
  /* 50% of parent */
  line-height: 25px;
  /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../Assets/beach.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/beach.jpg");
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.fa-language {
  padding-top: 40px;
  margin-right: 10px;
}

.category-nav {
  padding-top: 40px;
}

.language-section {
  float: right;
  padding-top: 20px !important;
}

.freq-image {
  padding-top: 30px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.freq-content {
  padding-top: 30px;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .freq-image {
    width: 100%;
    margin: auto;
  }
}

.scrolling-wrapper {
  overflow-x: auto;
}

.add-button {
  position: relative;
  left: 50vw;
  bottom: 8vh;
}

#close {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.options {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.videos-container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 3px;
          column-gap: 3px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding-top: 20px;
  padding-right: 20px;
}

.videos-container .video-card {
  padding-top: 17px;
  -webkit-transition: border 2s;
  transition: border 2s;
  cursor: pointer;
}

.videos-container .video-card .thumbnail {
  margin-top: 8px;
  margin-left: 30px;
  margin-right: 30px;
}

@-webkit-keyframes borderChange {
  from {
    border: 2px solid #b5b5bb;
  }
  to {
    border: 4px solid #09e823;
  }
}

@keyframes borderChange {
  from {
    border: 2px solid #b5b5bb;
  }
  to {
    border: 4px solid #09e823;
  }
}

input[type="checkbox"] {
  position: relative;
  top: 2.3em;
  left: 2.3em;
}

.front img {
  margin-left: 30px;
}

.back {
  width: 180px;
  height: 114px;
  background-color: #2ecc71;
}

.back img {
  width: 100px;
  height: 100px;
  margin-left: 40px;
}

.save-button {
  position: absolute;
  right: 5px;
}

.plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}

.minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

.modal-body {
  height: 200px;
}

.modal-video-card {
  position: relative;
  top: 25px;
}

.modal-video-card p {
  padding-left: 30px;
  padding-top: 10px;
  font-family: "Montserrat";
}

.modal-counter {
  position: relative;
  bottom: 80px;
  float: right;
  text-align: center;
}

.minus:hover {
  background-color: #717fe0 !important;
}

.plus:hover {
  background-color: #717fe0 !important;
}

.count {
  border-radius: 10px;
  width: 20%;
}
