# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ deploy ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    # Setting up Node env
    - name: Setup Node.js environment
      uses: actions/setup-node@v1.4.2
      with:
        version: 12
    
     # Runs a set of commands using the runners shell
    - name: Installing all packages
      run: npm install
        
     # Runs a set of commands using the runners shell
    - name: Making Build
      run: npm run build

  # Runs a set of commands using the runners shell
    - name: Installing surge
      run: npm install --global surge
  
  # Runs a set of commands using the runners shell
    - name: Deploy On surge 
      run: surge ./build whyuru-web.surge.sh --token ${{secrets.WHYURU_TOKEN}}
